.background {
    background-image:url(../images/rock.png);
    margin: 0;
}

#name {
    color: white;
    font-size:25px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color:#4aaaa5;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.container2 {
    background-color: #ffffff;
    border:1px solid #dddddd;
    padding:40px; 
    margin-top:40px;   
    margin-bottom: 20px; 
}

h1 {
    color:#4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: solid #dddddd;
}


.container3 {
    height: 60px;
    background-color: #666666;
    border-top:8px solid #4aaaa5;
}

.game-title {
    color:#ffffff;
    background:#4aaaa5;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    font-size: large;
    text-align: center;
    width:250px;
    padding-top: 15px;
    padding-bottom: 15px;
}




